*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#mainbody{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(253, 102, 102),rgb(250, 195, 94),rgb(245, 245, 216));
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky;
    top: 0; */
}
.nameBox{
    width:40%;
    
}

.nameBox>h1{
    color: white;
    font-size: 150px;
}
.nameBox>p{
    color: white;
    font-size: 40px;
}
nav{
width:6vw;
height:80vh;
/* background: rgb(117, 3, 117); */
position: fixed;
left:30px;

}

nav>div{
    /* border: 2px solid snow; */
    margin: 10px;
    width:6vw;
    height:6vw;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>div>a{
    color: white;
    font-size: 30px;

}
.aboutSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky;
    top: 0; */
    background-image: linear-gradient(rgb(253, 102, 102),rgb(250, 195, 94),rgb(245, 245, 216));
}
.aboutSection>main{
    width:80%;
    height:80%;
    /* border:2px solid; */
    display: flex;
}
.aboutSection>main>article{
    width:50%;
    height:100%;
    /* border:3px red solid; */
    background-color: rgba(255, 255, 255, 0.374);
    border-radius: 30px;
    margin: 10px;
}
.about{
    width:120%;
    height: 60%;
    /* background: white; */
    display: flex;
}
.aboutArticle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}
.about>div{
    width: 50%;
    height: 100%;
    /* border: 3px solid; */
    padding: 10px;
    background: rgba(255, 255, 255, 0.295);
    border-radius: 20px;
    margin: 5px;
}
.about li{
    padding: 5px;
}
.about ul{
    padding-top: 5px;
}
.about div{
    padding: 10px;
    padding-top: 10px;
}
.aboutArticle h1{
    font-size: 25px;
    color:black;
}
.aboutArticle>p{
    font-size: 15px;
}

.projects{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(253, 102, 102),rgb(250, 195, 94),rgb(245, 245, 216));
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects>main{
    width:80%;
    height:80%;
    border:2px solid;
   
}
.projects>main>h1{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}
.projects>main>article{
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.438);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    border-radius: 10px;

}
.projects>main>article>div{
    width:45%;
    height: 40%;
    /* border: 3px solid; */
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.416);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}
.projects>main>article>div>h1{
  font-size: 30px;
}
.projects>main>article>div>p{
   font-size: 15px; 
}
.experience, .achievements , .contact{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(253, 102, 102),rgb(250, 195, 94),rgb(245, 245, 216));
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience>main, .achievements>main , .contact>main{
    width:80%;
    height:80%;
    /* border:2px solid;  */

}
.experience>main>h1{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}
.experience>main>article{
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.438);
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    border-radius: 10px; 
    flex-direction: column;
    padding: 30px;
}
.experience>main>article>h3{
    font-size: 25px;

}
.experience>main>article>p{
    font-size: 20px;
}

.achievements>main>h1{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}
.achievements>main>article{
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.438);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    border-radius: 10px;

}
.achievements>main>article>div{
    width:45%;
    height: 40%;
    /* border: 3px solid; */
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.416);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}
.achievements>main>article>div>h1{
  font-size: 30px;
}
.achievements>main>article>div>p{
   font-size: 15px; 
}